In [1]:
import pandas as pd

In [2]:
titanic=pd.read_csv('../input/titanic-dataset/Titanic.csv')

In [3]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
titanic['FamilySize'] = titanic['SibSp'] + titanic['Parch'] + 1

In [5]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  156 non-null    int64
 1   Survived     156 non-null    int64
 2   Pclass       156 non-null    int64
 3   Name         156 non-null    object
 4   Sex          156 non-null    object
 5   Age          126 non-null    float64
 6   SibSp        156 non-null    int64
 7   Parch        156 non-null    int64
 8   Ticket       156 non-null    object
 9   Fare         156 non-null    float64
 10  Cabin        31 non-null     object
 11  Embarked     155 non-null    object
 12  FamilySize   156 non-null    int64
dtypes: float64(2), int64(6), object(5)
memory usage: 16.0+ KB

In [6]:
titanic = titanic.drop(columns=['Ticket', 'PassengerId', 'Cabin'])

In [7]:
titanic.head(3)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S,2
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C,2
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S,1

In [8]:
titanic['Sex'] = titanic['Sex'].map({'male':0, 'female':1})
titanic['Embarked'] = titanic['Embarked'].map({'C':0, 'Q':1, 'S':2})

In [9]:
titanic['Title'] = titanic['Name'].str.extract(' ([A-Za-z]+)\.', expand=False) #'expand=True, returns a dataframe'
titanic= titanic.drop(columns='Name')
titanic['Title']

0        Mr
1       Mrs
2      Miss
3       Mrs
4        Mr
       ...
151     Mrs
152      Mr
153      Mr
154      Mr
155      Mr
Name: Title, Length: 156, dtype: object

In [10]:
titanic.Title.values

array(['Mr', 'Mrs', 'Miss', 'Mrs', 'Mr', 'Mr', 'Mr', 'Master', 'Mrs',
       'Mrs', 'Miss', 'Miss', 'Mr', 'Mr', 'Miss', 'Mrs', 'Master', 'Mr',
       'Mrs', 'Mrs', 'Mr', 'Mr', 'Miss', 'Mr', 'Miss', 'Mrs', 'Mr', 'Mr',
       'Miss', 'Mr', 'Don', 'Mrs', 'Miss', 'Mr', 'Mr', 'Mr', 'Mr', 'Mr',
       'Miss', 'Miss', 'Mrs', 'Mrs', 'Mr', 'Miss', 'Miss', 'Mr', 'Mr',
       'Miss', 'Mr', 'Mrs', 'Master', 'Mr', 'Mrs', 'Mrs', 'Mr', 'Mr',
       'Miss', 'Mr', 'Miss', 'Master', 'Mr', 'Miss', 'Mr', 'Master', 'Mr',
       'Master', 'Mrs', 'Mr', 'Miss', 'Mr', 'Mr', 'Miss', 'Mr', 'Mr',
       'Mr', 'Mr', 'Mr', 'Mr', 'Master', 'Miss', 'Mr', 'Mr', 'Miss', 'Mr',
       'Miss', 'Mrs', 'Mr', 'Mr', 'Miss', 'Mr', 'Mr', 'Mr', 'Mr', 'Mr',
       'Mr', 'Mr', 'Mr', 'Mr', 'Mrs', 'Mr', 'Miss', 'Mr', 'Mr', 'Mr',
       'Mr', 'Mr', 'Miss', 'Mr', 'Mr', 'Miss', 'Mr', 'Miss', 'Mr', 'Miss',
       'Miss', 'Mr', 'Mr', 'Mr', 'Mr', 'Miss', 'Mr', 'Mr', 'Mr', 'Miss',
       'Mr', 'Master', 'Mr', 'Mr', 'Miss', 'Mr', 'Mr', 'Mr', 'Mrs', 'Mrs',
       'Mr', 'Mr', 'Miss', 'Mr', 'Mr', 'Mr', 'Mrs', 'Miss', 'Mrs', 'Mr',
       'Mr', 'Mr', 'Mr', 'Miss', 'Mr', 'Rev', 'Rev', 'Mrs', 'Mr', 'Mr',
       'Mr', 'Mr'], dtype=object)

In [11]:
titanic['Title'] = titanic['Title'].replace(['Rev', 'Don'], 'Others')
print(titanic['Title'])

0        Mr
1       Mrs
2      Miss
3       Mrs
4        Mr
       ...
151     Mrs
152      Mr
153      Mr
154      Mr
155      Mr
Name: Title, Length: 156, dtype: object

In [12]:
titanic['Title'] = titanic['Title'].map({'Mr':1, 'Mrs':2 ,'Others':3 ,'Master':4 ,'Miss':5 })

In [13]:
titanic.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,Title
0,0,3,0,22.0,1,0,7.2500,2.0,2,1
1,1,1,1,38.0,1,0,71.2833,0.0,2,2
2,1,3,1,26.0,0,0,7.9250,2.0,1,5
3,1,1,1,35.0,1,0,53.1000,2.0,2,2
4,0,3,0,35.0,0,0,8.0500,2.0,1,1

In [14]:
titanic.isnull().sum()

Survived       0
Pclass         0
Sex            0
Age           30
SibSp          0
Parch          0
Fare           0
Embarked       1
FamilySize     0
Title          0
dtype: int64

In [15]:
titanic['Embarked'] = titanic['Embarked'].fillna(2)
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    156 non-null    int64
 1   Pclass      156 non-null    int64
 2   Sex         156 non-null    int64
 3   Age         126 non-null    float64
 4   SibSp       156 non-null    int64
 5   Parch       156 non-null    int64
 6   Fare        156 non-null    float64
 7   Embarked    156 non-null    float64
 8   FamilySize  156 non-null    int64
 9   Title       156 non-null    int64
dtypes: float64(3), int64(7)
memory usage: 12.3 KB

In [16]:
titanic['Age']=titanic['Age'].fillna(titanic['Age'].median())

In [17]:
titanic.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Embarked      0
FamilySize    0
Title         0
dtype: int64

In [18]:
titanic.dtypes

Survived        int64
Pclass          int64
Sex             int64
Age           float64
SibSp           int64
Parch           int64
Fare          float64
Embarked      float64
FamilySize      int64
Title           int64
dtype: object

In [19]:
titanic.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,Title
0,0,3,0,22.0,1,0,7.2500,2.0,2,1
1,1,1,1,38.0,1,0,71.2833,0.0,2,2
2,1,3,1,26.0,0,0,7.9250,2.0,1,5
3,1,1,1,35.0,1,0,53.1000,2.0,2,2
4,0,3,0,35.0,0,0,8.0500,2.0,1,1

In [20]:
X_train=titanic.iloc[:,1:10]
Y_train=titanic.iloc[:,0]

In [21]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd
# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [22]:
# Decision Tree

decision_tree = DecisionTreeClassifier(criterion = "entropy", max_depth=2, min_samples_leaf=5) 
decision_tree.fit(X_train, Y_train)
Y_pred = decision_tree.predict(X_train)
acc_decision_tree = round(decision_tree.score(X_train, Y_train) * 100, 2)

In [23]:
titanic.dtypes

Survived        int64
Pclass          int64
Sex             int64
Age           float64
SibSp           int64
Parch           int64
Fare          float64
Embarked      float64
FamilySize      int64
Title           int64
dtype: object

In [24]:
X_train=titanic.iloc[:,1:10]
Y_train=titanic.iloc[:,0]

In [25]:
# Logistic Regression
logreg = LogisticRegression(solver='liblinear')
logreg.fit(X_train, Y_train)

Y_pred = logreg.predict(X_train)

acc_log = round(logreg.score(X_train, Y_train) * 100, 2)

In [26]:
# Linear Support Vector Machine
linear_svc = LinearSVC()
linear_svc.fit(X_train, Y_train)

Y_pred = linear_svc.predict(X_train)

acc_linear_svc = round(linear_svc.score(X_train, Y_train) * 100, 2)

/opt/conda/lib/python3.7/site-packages/sklearn/svm/_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [27]:
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)

Y_prediction = random_forest.predict(X_train)

random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)

In [28]:
results = pd.DataFrame({
    'Model': ['Decision Tree', 'Logistic Regression','Support Vector Machines','Random Forest'],
    'Score': [acc_decision_tree,acc_log,acc_linear_svc,acc_random_forest]})
result_df = results.sort_values(by='Score', ascending=False)
result_df = result_df.set_index('Score')
result_df.head(9)

                          Model
Score
100.00            Random Forest
83.97       Logistic Regression
80.77             Decision Tree
75.64   Support Vector Machines

In [29]:
importances = pd.DataFrame({'feature':X_train.columns,'importance':np.round(random_forest.feature_importances_,3)})
importances = importances.sort_values('importance',ascending=False).set_index('feature')
importances.head(15)

            importance
feature
Fare             0.239
Sex              0.199
Age              0.195
Title            0.161
Pclass           0.053
SibSp            0.050
FamilySize       0.046
Embarked         0.040
Parch            0.016

In [30]:
# AdaBoost Classification
from sklearn import model_selection
from sklearn.ensemble import AdaBoostClassifier

In [31]:
seed = 7
num_trees = 30

kfold = model_selection.KFold(n_splits=10, random_state=seed)
# create the sub models
estimators = []

model1 = LogisticRegression()
estimators.append(('logreg', model1))

model2 = DecisionTreeClassifier()
estimators.append(('decision_tree', model2))

model3 = LinearSVC()
estimators.append(('linear_svc', model3))

model4 = RandomForestClassifier()
estimators.append(('random_forest',model4))

# create the ensemble model
ensemble = AdaBoostClassifier(n_estimators=num_trees, random_state=seed)
results = model_selection.cross_val_score(ensemble, X_train, Y_train, cv=kfold)

print(results)
print("max: ", results.max())
print("min: ", results.min())
print("mean: ", results.mean())

# We get a mean estimate of classification accuracy.
print("Accuracy: %0.2f (+/- %0.2f)" % (results.mean(), results.std() * 2))

/opt/conda/lib/python3.7/site-packages/sklearn/model_selection/_split.py:297: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

[0.6875     0.75       0.75       0.75       0.8125     0.8125
 0.8        0.66666667 0.73333333 0.73333333]
max:  0.8125
min:  0.6666666666666666
mean:  0.7495833333333334
Accuracy: 0.75 (+/- 0.09)